<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><div data-hull-component="login/button@hull"></div></li>
      <li><div data-aura-component="likes/button" data-aura-id="entity:http://hull.io"></div></li>
      <li><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button></li>
      <li><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button></li>
    </ul>
  </div>
</div>

