<div data-aura-component="header"></div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div data-aura-component="location"></div>
    </div>
    <div class="col-sm-8">
      <div data-aura-component="events/list"></div>


    </div>
  </div>
</div><!-- /.container -->

